@model IEnumerable<ContosoUniversity.Models.Student>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                Name
            </th> *@
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                Enrollment Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          @foreach (var item in Model) {
        <tr>
            <td>
               @item.Name
            </td>
            <td>
                 @item.EnrollmentDate
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary mx-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary mx-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>